body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(243, 243, 243);
}

h1.card-title {
  margin-top: px;
}

p.card-text {
  color: rgb(31, 31, 31);
}
.navbar-brand {
  font-weight: 900;
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
}

.nav-link.active {
  font-weight: 700;
}

.tombol {
  text-align: center;
}

.button-secundary {
  width: 133px;
  height: 40px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.button-primary {
  width: 133px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.tengah {
  text-align: center;
  width: 100%;
}

.kartu-tutor {
  width: 10%;
  margin: 0 auto;
}

.kartu-tutor a {
  text-decoration: none;
}

.kartu-tutor img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: black;
}

footer {
  padding: 30px 0;
  background-color: #333;
  margin-top: 50px;
  color: #fff;
  text-align: center;
}
section {
  background-color: rgb(243, 243, 243);
}

.container {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  header h1 {
    text-align: center;
    float: none;
  }
  header ul {
    text-align: center;
    float: none;
  }
  .box .col-4 {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .tombol {
    width: 100%;
    float: none;
    text-align: center;
  }
  .contact {
    width: 100%;
    float: none;
    text-align: center;
  }
}
